DirectoryIndex index.php
AddDefaultCharset UTF-8

RewriteBase /
Options +FollowSymLinks
RewriteEngine On

<IfModule mod_headers.c>
<FilesMatch ".(webp|gif|jpg|jpeg|png|ico|svg|js|css|pdf)$">
  Header set Cache-Control "max-age=31536000"
</FilesMatch>
</IfModule>

RewriteRule ^(.*)\.less$ index.php 
RewriteRule ^(.*)\.scss$ index.php 

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]
RewriteRule ^database(.*)$ index.php [R=404,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [L,QSA]
