@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@color-white: #ffffff;
@color-sky: #F6F9FC;
@color-primary: #2F80ED;
@color-gray: #BDBDBD;
@link-footer: #DFEAEE;
@link-gray: #4F4F4F;
@btn-def: #2BA8DD;
@btn-hover: #2286B0;
@color-black: #1D1D1D;
@form-gray: #F0F5F9;
@input-gray: #828282;
@input-dark: #333333;
@menu-border: #ffffff25 1px solid;
@color-topmenu-xl: #8CB0E012;
@color-topmenu: #020e1fdd;


@sm: 575px;
@md: 767px;
@lg: 991px;
@xl: 1199px;

@sm-min: 576px;
@md-min: 768px;
@lg-min: 992px;
@xl-min: 1200px;

html {
    overflow-x: hidden;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    background-color: @color-white;
    overflow-x: hidden;
    overflow-y: auto!important;
    width: 100vw;
    height: auto!important;

    >* {
        overflow-x: hidden;
    }

    .elipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a:hover {
        text-decoration: none;
    }

    :focus,
    :active {
        outline-color: transparent;
    }

    h1 {
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0em;
    }

    h3 {
        font-size: 36px;
        font-style: normal;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: 20px;
        font-style: normal;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 1.5rem;
    }

    header {
        width: 100%;
        left: 0px;
        border-radius: 0px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(20, 20, 20, 0.8));

        .carousel {
            .carousel-item {
                height: 30vh;
            }

            background-size: cover;

            .carousel-indicators {
                justify-content: left;
                margin: 0;
                bottom: 3rem;
                left: auto;
                right: auto;

                li {
                    width: 90px;
                    margin-left: 20px;
                    height: 4px;
                }

                @media (max-width: @md) {
                    bottom: 1.5rem;

                    li {
                        width: 20px;
                        height: 2px;
                    }
                }
            }

            .carousel-caption {
                position: relative;
                right: auto;
                left: auto;
                bottom: auto;
                height: 100vh;
                align-items: center;
                display: flex;
            }
        }

        .jumbotron {
            color: @color-white;
            margin-top: 12rem;
            padding-bottom: 0;
            padding-top: 0;
            padding-left: 1rem;

            h1 {
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 60px;
                letter-spacing: 0em;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
            }

            .lead .btn {
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                padding: 0.8rem 2.2rem;
            }

            .breadcrumb {
                .breadcrumb-item {
                    +.breadcrumb-item::before {
                        content: '';
                        background: url(/tpl/assets/img/breadcrumb.svg) 50% 50% no-repeat;
                        width: 10px;
                        height: 25px;
                        margin-right: 10px;
                        display: inline;
                    }

                    &.active {
                        color: @color-gray;
                    }

                    &.active {
                        color: @color-gray;
                    }

                    a {
                        color: @color-gray;

                        &:hover {
                            color: @color-white;
                        }
                    }
                }
            }

            &.no-home {
                padding-bottom: 1rem;
            }
        }

        .youtube-background {
            overflow: hidden;

            iframe {
                transition: opacity 500ms ease-in-out;
                transition-delay: 250ms;
                margin-top: -1px;
            }
        }

        .video-background-controls {
            opacity: 0;
        }

        &.homepage {
            .carousel-item {
                height: 100vh;
            }

            @media (min-width: @lg-min) {

                .jumbotron {
                    color: @color-white;
                    margin-top: 6rem;

                    h1 {
                        font-size: 72px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 60px;
                        letter-spacing: 0em;
                    }

                    p {
                        font-size: 16px;
                        line-height: 28px;
                        font-weight: 500;
                    }

                    .btn {
                        font-size: 16px;
                        line-height: 20px;
                        padding: 12px 16px;
                        height: 44px;
                        width: 158px;
                    }
                }
            }
        }

        @media (max-width: @lg) {
            .jumbotron {
                margin-top: 4rem;

                h1 {
                    font-size: 36px;
                    line-height: 48px;
                }

                p {
                    font-size: 18px;
                    line-height: 24px;
                    margin-top: 0;
                }
            }

            .carousel-caption {
                margin-top: 0 !importan;
            }
        }

        @media (max-width: @md) and (orientation: landscape) {
            .jumbotron {
                h1 {
                    margin-bottom: 1rem!important;
                    font-size: 20px;
                    line-height: 28px;
                }
                p {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .carousel-caption {
                .btn {
                    float: right;
                }
            }
        }

        @media (max-width: 374px) and (orientation: portrait) {
            .jumbotron {
                h1 {
                    margin-bottom: 1rem !important;
                    font-size: 20px;
                    line-height: 26px;
                }

                p {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }

        /* Main menu */

        nav.navbar {
            &.top {
                align-items: end;

                .dropdown {
                    position: absolute;

                    .dropdown-menu {
                        background-color: @color-topmenu;
                        border: @menu-border;

                        .dropdown-item {
                            color: @input-gray;
                            background-color: transparent;

                            &:hover {
                                color: @color-white;
                            }
                        }
                    }
                }

                .left {
                    .dropdown-toggle {
                        color: @color-white;
                    }
                }
            }

            .right .nav-link {
                svg {
                    margin-right: 13px;
                }
            }


            .navbar-toggler {
                border: none;
                color: @color-white;
                text-transform: capitalize;
                font-weight: 500;
                outline: none;
                display: inline-flex;
                align-items: center;
                z-index: 110;

                &:after {
                    content: '';
                    background: url(/tpl/assets/img/icon-close.svg);
                    width: 24px;
                    height: 24px;
                    display: inline-flex;
                    margin-left: 1rem;
                }

                span {
                    display: none;
                }

                &[aria-expanded=false] {
                    span {
                        display: inline-flex;
                    }

                    &:after {
                        background: url(/tpl/assets/img/icon-burger.svg);
                    }
                }
            }
        }


        @media (max-width:@sm ) {
            nav.navbar {
                &.top {
                    align-items: center;

                    .left {
                        height: 2.4rem;
                    }
                }

                &.bot {
                    align-items: baseline;
                    padding: 0;

                    .nav-link {
                        color: @color-white;
                    }

                    .mainmenu {
                        padding-bottom: 3rem;
                        min-height: 80vh;
                    }

                    .dropdown {
                        .dropdown-toggle {
                            &[aria-expanded=true]:after {
                                transform: rotate(-90deg);
                            }
                        }

                        .dropdown-menu {
                            position: relative !important;
                            align-items: start;
                            background: transparent !important;
                            border: none !important;
                            word-break: break-all;
                            padding: 0;
                            margin: 0;
                            top: 0;
                            backdrop-filter: none;
                            -webkit-backdrop-filter: none;
                            text-align: left;
                            height: auto !important;

                            .dropdown-item {
                                display: block;
                                color: @input-gray;
                                font-size: 14px;
                                font-weight: 500;
                                padding: 0.5rem 0;
                                min-width: 100%;
                                align-items: start;

                                &:hover {
                                    background: transparent;
                                    color: @color-white;
                                }
                            }

                        }
                    }

                    #mainMenu {
                        min-height: 80vh;
                        align-items: baseline;

                        .nav-item {
                            display: block;
                        }

                    }
                }
            }
        }

        @media (min-width:@sm-min) and (max-width:@xl) {
            nav {
                &.navbar.top {
                    .nav-link {
                        color: @color-white;
                    }

                    align-items: center;
                    padding-bottom: 0;

                    .navbar-nav {
                        width: 100%;

                        &.left {
                            display: inline;
                            width: auto;
                            margin-top: -20px;

                            .dropdown {
                                position: absolute;
                            }
                        }

                        &.right {
                            display: inline-block;
                            text-align: center;

                            .nav-item {
                                display: inline;
                                padding-left: 1rem;
                            }

                            .nav-link {
                                display: inline;
                            }
                        }
                    }
                }

                &.bot {
                    display: block;
                }

                #mainMenu.show {
                    display: flex;
                }

                &.navbar {
                    height: auto;

                    &.bot {

                        align-items: baseline;

                        .navbar-nav {
                            display: block;
                            padding-top: 1rem;
                            border-top: @menu-border;
                        }

                        .nav-item {
                            display: inline-flex;
                            align-items: baseline;
                            width: 100%;
                            margin-bottom: 20px;

                            .nav-link {
                                display: inline-flex;
                                align-items: center;
                                color: @color-white;
                            }

                            .dropdown-toggle {
                                font-size: 16px;
                                font-weight: 600;
                                color: @color-white;
                                width: 220px !important;
                                min-width: 220px !important;

                                &:after {
                                    transform: rotate(270deg);
                                    position: absolute;
                                    margin-left: 240px;
                                }
                            }

                            .dropdown-menu,
                            .dropdown-menu.show {
                                position: relative !important;
                                display: inline-block;
                                background: transparent !important;
                                border: 0;
                                border-left: @menu-border;
                                border-radius: 0;
                                word-break: break-all;
                                padding: 0;
                                margin: 0 0 0 50px;
                                top: 0;
                                backdrop-filter: none;
                                -webkit-backdrop-filter: none;
                                text-align: left;
                                height: auto !important;

                                .dropdown-item {
                                    display: inline-block;
                                    color: @input-gray;
                                    font-size: 14px;
                                    font-weight: 500;
                                    padding: 0px 16px;
                                    min-width: 180px;
                                    width: auto;

                                    &:hover {
                                        background: transparent;
                                        color: @color-white;
                                    }
                                }

                            }

                        }
                    }
                }
            }
        }

        @media (min-width:@lg-min) and (max-width:@xl) {
            nav.navbar.top .navbar-nav {
                &.right {
                    display: inline-block;
                    text-align: center;
                    position: absolute;
                    margin-top: -35px !important;
                }
            }
        }


        @media (min-width:@xl-min ) {
            nav.navbar {
                height: 4rem;

                &.top {
                    border-bottom: @menu-border;
                    align-items: center;

                    .left {
                        height: 2.3rem;
                    }

                    .right .nav-link {
                        display: flex;
                    }
                }

                #mainMenu {
                    padding-bottom: 0;
                }

                &.bot .navbar-nav {
                    .nav-item {
                        margin-right: 2rem;
                        padding-left: 0;

                        .nav-link {
                            color: @color-white;
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                        >.dropdown-menu.show {
                            position: fixed;
                            top: 8rem;
                            left: 0;
                            z-index: 1000;
                            height: 4rem;
                            padding-top: 1rem !important;
                            float: left;
                            width: 100%;
                            padding: 5px 0;
                            margin: 0 auto;
                            text-align: center;
                            border-radius: 0;
                            background: #17181a80;
                            backdrop-filter: blur(20px);
                            -webkit-backdrop-filter: blur(20px);

                            .dropdown-item {
                                display: inline;
                                vertical-align: middle;
                                color: @input-gray;
                                padding: 0 1.5rem 0 0.5rem;

                                &:hover,
                                &:active {
                                    color: @color-white;
                                    font-weight: 700;
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .card-img,
    .card-img-bottom,
    .card-img-top {
        height: auto;
    }

    footer {
        padding: 48px 0;
        background: #495060;
        color: @color-white;

        .border-bottom {
            border-color: @link-footer;
        }

        span {
            font-weight: 400;
        }

        a {
            color: @link-footer;

            svg {
                vertical-align: bottom;
            }

            &:hover {
                text-decoration: none;
                color: @color-white;
            }
        }

        .navbar-nav {
            .nav-link {
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: 0em;
                color: @color-white;
                padding-top: 8px;
                padding-bottom: 8px;
            }

            ul {
                list-style: none;
                padding: 0;

                .nav-link {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    padding-bottom: 0px;

                    &:last-child {
                        padding-bottom: 8px;
                    }
                }
            }

        }
    }

    a.link-arrow {
        color: @btn-def;
        line-height: 24px;
        font-size: 16px;

        &:hover {
            text-decoration: none;
        }
    }

    .list-uploads {
        li {
            line-height: 36px;
            display: inline-flex;

            &:before {
                content: ' ';
                background: url(/tpl/assets/img/icon-pdf.svg) 0 0 no-repeat;
                width: 50px !important;
                height: 36px;
                margin-right: 1.5rem;
                display: inline-flex;
            }

            a {
                color: @color-black;
                text-decoration: none;
                font-weight: 700;
                font-size: 20px;
            }
        }

    }

    .widget {
        h3 {
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: left;
            color: @color-black;
            margin: 0;
        }

        .card {
            border: 0;
            background: transparent;

            .card-body {
                padding: 1rem 0 0 0;
            }

            .card-text {
                font-size: 20px;
            }
        }

        &.widget-products {
            .card-title {
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
            }

            .card-text {
                font-size: 14px;
                font-weight: 500;
            }
        }

        &.widget-globe {
            background: url(../img/space.jpg) 50% 50% no-repeat;
            background-size: cover;
        }

        label.favorite {
            position: absolute;
            display: block;
            width: 24px;
            height: 24px;
            right: 1rem;
            top: 1rem;

            &:before {
                content: ' ';
                display: block;
                width: 24px;
                height: 24px;
                background: url(/tpl/assets/img/icon-favoroff.svg);
            }
        }

        input[id]:checked+label[for] {
            &:before {
                background: url(/tpl/assets/img/icon-favoron.svg);
            }
        }
    }

    .pagination {
        .page-item {
            &:not(:last-child) {
                margin-right: 26px;
            }

            .page-link {
                color: @color-black;
                border-radius: 0;

                &.active,
                &:hover {
                    border-color: @btn-hover;
                    background-color: @btn-hover;
                    color: @color-white;
                }
            }
        }
    }

    .add-file {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: @link-gray;
        display: inline-flex;
        width: 100%;

        &:before {
            content: '';
            background-image: url(/tpl/assets/img/icon-paperclip.svg);
            width: 24px;
            height: 24px;
            display: inline-flex;
        }
    }

    .gray-link {
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: left;
        color: @input-gray;
        display: inline-flex;
        width: 100%;

        &:hover,
        &:active,
        &.active {
            color: @link-gray;
        }
    }

    .btn-link {
        border-color: @btn-def;
        background-color: @btn-def;
        border-radius: 0;
        padding-left: 5rem;
        padding-right: 5rem;
        //styleName: Main headers/ H5 16\24 BOLD;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        color: @color-white;

        &.active,
        &:hover {
            text-decoration: none;
            border-color: @btn-hover;
            background-color: @btn-hover;
            color: @color-white;
        }
    }

    .news-grid,
    .news-list {
        select {
            border: 0;
            background: transparent;
        }

    }

    .news-grid {
        .card {
            margin-right: 29px;
        }

        .card-title {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
        }

        .card-text {
            font-size: 16px !important;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .slick-arrow:before {
        color: @btn-def;
    }

    .slick {
        color: @btn-def;

        .slick-arrow:before {
            display: block;
            content: ' ';
            background-image: url('../img/chevron.svg');
            background-size: 48px 48px;
            height: 48px;
            width: 48px;
            margin-top: -9px;
        }

        .slick-prev {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }

    .form-control {
        border-radius: 0;
        border-color: @form-gray;
        background-color: @form-gray;
        color: @input-gray;
        margin-bottom: 1.5rem;
        padding: 1.3rem 1.5rem;

        &:active,
        &:focus {
            border-radius: 0;
            border-color: @form-gray;
            background-color: @form-gray;
            box-shadow: none;
        }
    }

    #History {
        .slick.slick-for {
            [data-year] {
                background: #2BA8DD;

                >img {
                    opacity: .2;
                }

                &:before {
                    content: attr(data-year);
                    width: 100%;
                    display: block;
                    position: absolute;
                    font-size: 2rem;
                    margin-top: 30%;
                    color: #fff;
                    text-align: center;
                    font-size: 72px;
                    font-style: normal;
                    font-weight: 100;
                    line-height: 60px;
                    letter-spacing: 0em;
                }
            }
        }

        .slick-nav {
            min-width: 65px;

            .slick-slide {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                height: 20px;
                margin-bottom: 10px;
                letter-spacing: 0em;
                text-align: left;
                margin-left: 20px;
                color: @input-gray;
                cursor: pointer;
            }

            .slick-current {
                color: @color-black;

                &:before {
                    content: '—';
                    position: absolute;
                    left: 0;
                }
            }
        }
    }

    #Profile {
        a {
            &.nav-link {
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                color: @input-gray;
                padding: 0.5rem 0;
                margin-right: 2.5rem;
            }

            &.active {
                font-weight: 700;
                color: @input-dark;

                &[data-toggle=tab] {
                    border-bottom: 3px @btn-def solid;
                }
            }
        }

        .form-profile {
            label {
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                color: @input-gray;
                margin: 0;
            }

            .form-control {
                background-color: transparent;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                color: @input-dark;
                padding: 0.5rem 0;
                border-color: @input-gray;
                border-top: none;
                border-right: none;
                border-left: none;
                border-radius: 0;
            }
        }
    }

    .bg-topmenu {
        background: @color-topmenu;

        @media (min-width: @xl-min) {
            background: @color-topmenu-xl;
        }

        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        z-index: 100 !important;
    }

    @media (max-width: @xl) {
        &.menu-open {
            height: 100vh;
            overflow: hidden;
            header {
                height: 100vh;
            }
            .bg-topmenu {
                height: 100vh;
                overflow-y: auto;
            }
        }
    }

    .bg-sky {
        background: @color-sky;
    }

    .bg-gray {
        background: @form-gray;
    }

    .p-1r {
        padding: 1rem;
    }

    .p-2r {
        padding: 2rem;
    }

    .p-3r {
        padding: 3rem;
    }

    .pb-1r {
        padding-bottom: 1rem;
    }

    .pb-2r {
        padding-bottom: 2rem;
    }

    .pb-3r {
        padding-bottom: 3rem;
    }

    .pt-0 {
        padding-top: 0;
    }

    .pt-1r {
        padding-top: 1rem;
    }

    .pt-2r {
        padding-top: 2rem;
    }

    .pt-3r {
        padding-top: 3rem;
    }

    .mt-0 {
        margin-top: 0;
    }

    .mb-1r {
        margin-bottom: 1rem;
    }

    .mb-2r {
        margin-bottom: 2rem;
    }

    .mb-3r {
        margin-bottom: 3rem;
    }

    .mt-1r {
        margin-top: 1rem;
    }

    .mt-2r {
        margin-top: 2rem;
    }

    .mt-3r {
        margin-top: 3rem;
    }

    .ml-10 {
        margin-left: 10px;
    }

    .mr-1r {
        margin-right: 1rem;
    }

    .mr-2r {
        margin-right: 2rem;
    }

    .mr-25 {
        margin-right: 25px;
    }

    .transparent {
        background: transparent;
    }

    .rounded-10 {
        border-radius: 10px;
    }

    .rounded-20 {
        border-radius: 20px;
    }

    .rounded-30 {
        border-radius: 30px;
    }

    .tx-right {
        text-align: right;
    }

    .tx-16 {
        font-size: 16px;
        line-height: 20px;
    }

    .tx-20 {
        font-size: 20px;
    }

    .tx-28 {
        font-size: 28px;
        line-height: 36px;
    }

    [class='btn-primary'] {
        border-color: @color-primary;
        background-color: @color-primary;
    }

    .nobr {
        white-space: nowrap;
    }

    .zi-15 {
        z-index: 15;
    }

    .dropdown-toggle::after {
        display: inline-block;
        content: "";
        border: 0;
        background-image: url('/tpl/assets/img/arrow.svg');
        background-size: 10px 6px;
        margin-left: 6px;
        vertical-align: .15em;
        height: 6px;
        width: 10px;
    }

  .carousel-inner video {
      height: 100%;
      width: 177.77777778vh;
      min-width: 100%;
      min-height: 56.25vw;
      overflow: hidden;
      position: absolute;
      left: 50%;
      /* % of surrounding element */
      top: 50%;
      transform: translate(-50%, -50%);
  }

}

