@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@color-white: #ffffff;
@color-sky: #F6F9FC;
@color-primary: #2F80ED;
@link-footer: #DFEAEE;
@color-black: #1D1D1D;

@sm: 575px;
@md: 767px;


body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    background-color: @color-white;
    overflow-x: hidden;

    header {
        height: 100%;
        width: 100%;
        left: 0px;
        border-radius: 0px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(20, 20, 20, 0.8)),
            linear-gradient(0deg, #FFFFFF, #FFFFFF);

        .carousel {
            background-image: url(/thumb/1920x962/src/tpl/assets/img/header-1.jpg);
            background-size: cover;

            .carousel-item {
                height: 100vh;
            }

            .carousel-indicators {
                justify-content: left;
                margin: 0;
                bottom: 3rem;
                left: auto;
                right: auto;

                li {
                    width: 90px;
                    margin-left: 20px;
                    height: 4px;
                }
            }

            .carousel-caption {
                position: relative;
                right: auto;
                left: auto;
                bottom: auto;
                margin-top: 30vh;
            }
        }

        nav {
            height: 4rem;

            &.top {
                border-bottom: #ffffff25 1px solid;

                .right .nav-link {
                    display: flex;

                    svg {
                        margin-right: 13px;
                    }
                }
            }

            @media (max-width:@md) {
                display: inline-block;
                height: auto;

                &.top {
                    height: 4rem;
                    border-bottom: 0;
                }
            }

            .navbar-nav {
                .nav-item {
                    margin-right: 2rem;
                    padding-left: 0;

                    .nav-link {
                        color: @color-white;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .jumbotron {
            color: @color-white;

            h1 {
                font-size: 72px;
                font-style: normal;
                font-weight: 700;
                line-height: 60px;
                letter-spacing: 0em;
            }

            p {
                font-size: 16px;
                line-height: 28px;
                font-weight: 500;
            }

            .btn {
                font-size: 16px;
                line-height: 20px;
                padding: 12px 16px;
                height: 44px;
                width: 158px;
            }

        }



    }


    footer {
        padding: 48px 0;
        background: #495060;
        color: @color-white;

        .border-bottom {
            border-color: @link-footer;
        }

        span {
            font-weight: 400;
        }

        a {
            color: @link-footer;

            svg {
                vertical-align: bottom;
            }

            &:hover {
                text-decoration: none;
                color: @color-white;
            }
        }

        .navbar-nav {
            .nav-link {
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: 0em;
                color: @color-white;
                padding-top: 8px;
                padding-bottom: 8px;
            }

            ul {
                list-style: none;
                padding: 0;

                .nav-link {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    padding-bottom: 0px;

                    &:last-child {
                        padding-bottom: 8px;
                    }
                }
            }

        }
    }

    .widget {
        .border-bottom>a {
            color: #2BA8DD;

            &:hover {
                text-decoration: none;
            }
        }

        h3 {
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: left;
            color: @color-black;
            margin: 0;
        }

        .card {
            border: 0;
            background: transparent;
            .card-body {
                padding: 1rem 0 0 0;
            }
            .card-text {
                font-size: 20px;
            }
        }

        &.widget-products {
            .card-title {
                font-weight:700;
                font-size: 20px;
                line-height:28px;
            }
            .card-text {
                font-size: 14px;
                font-weight:500;
            }
        }
    }

    .slick {
        .slick-arrow:before {
            display: block;
            content: ' ';
            background-image: url('../img/chevron.svg');
            background-size: 48px 48px;
            height: 48px;
            width: 48px;
            margin-top: -9px;
        }

        .slick-prev {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .card {
            margin-left: 29px;
        }

        .card-title {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
        }

        .card-text {
            font-size: 16px!important;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .bg-topmenu {
        background: #8cb0e01a;
    }

    .bg-sky {
        background: @color-sky;
    }

    .mb-1r {
        margin-bottom: 1rem;
    }

    .mb-2r {
        margin-bottom: 2rem;
    }

    .mb-3r {
        margin-bottom: 3rem;
    }

    .mt-3r {
        margin-top: 3rem;
    }

    .pb-1r {
        padding-bottom: 1rem;
    }

    .pt-1r {
        padding-top: 1rem;
    }

    .pb-3r {
        padding-bottom: 3rem;
    }

    .pt-3r {
        padding-top: 3rem;
    }

    .ml-10 {
        margin-left: 10px;
    }

    .mr-25 {
        margin-right: 25px;
    }

    .transparent {
        background: transparent;
    }

    .rounded-10 {
        border-radius: 10px;
    }

    .rounded-20 {
        border-radius: 20px;
    }

    .rounded-30 {
        border-radius: 30px;
    }

    .tx-right {
        text-align: right;
    }

    [class='btn-primary'] {
        border-color: @color-primary;
        background-color: @color-primary;
    }

    .nobr {
        white-space: nowrap;
    }

    .zi-15 {
        z-index: 15;
    }

    .dropdown-toggle::after {
        display: inline-block;
        content: "";
        border: 0;
        background-image: url('/tpl/assets/img/arrow.svg');
        background-size: 10px 6px;
        margin-left: 6px;
        vertical-align: .15em;
        height: 6px;
        width: 10px;
    }

}